body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

.mynametext {
  font-size: 70px;
  font-weight: 100;
}

.titleimg {
  margin-top: 10px;
  border: 4px solid #f8981c
}

.text-muted {
  color: #bcbbbb;
}

hr {
  border: 3px #bcbbbb;
}
